<section class="site-section about-section text-center" id="about">
  <header class="section-header">
    <h2>
      About
    </h2>
  </header>
  <div class="section-content">
    <h3 class="lead">
      What Are Sitcom Sleepers™?
    </h3>
    <blockquote cite="{{ site.url }}">
      Sitcom Sleepers™ are red light sitcoms that are remixed and optimized for use as sleep aids.
      The audio and video tracks are edited in several ways that are inspired by methods shown to help improve sleep quality.
    </blockquote>
    <h3 class="lead">
      Why Were They Created?
    </h3>
    <blockquote cite="{{ site.url }}">
      Many people, my wife included, like to fall asleep listening to TV shows because of the
      familiar voices, laughter, and music. The problem is that blue light isn't great for
      melatonin. Also, it's common for the volume levels to be different from one track to another,
      and they play much longer than needed, disrupting you after you're asleep.
      Sitcom Sleepers™ do not have these problems.
    </blockquote>
    <h3 class="lead">
      How Do You Use Them?
    </h3>
    <blockquote cite="{{ site.url }}">
      The best way to use them is to play them (on your smart phone or television) at a volume that's very low.
      The tracks are normalized, but some have music and sound effects that might disrupt sleep if played too loud.
      Each mix completes within your first sleep cycle and then you can keep sleeping when it's done.
      For those who really want something to <b>play all night</b>, use the playlists on the channel instead.
    </blockquote>
    <h3 class="lead">
      Want a Deeper Sleep?
    </h3>
    <blockquote cite="{{ site.url }}">
      See the versions on the <a href="https://www.youtube.com/@BinauralBeatBank">@BinauralBeatBank</a> channel.
      They require headphones and include a binaural beat that has been shown to improve the quality of sleep.
    </blockquote>
    <h3 class="lead">
      Who Curates The Collection?
    </h3>
    <blockquote cite="{{ site.url }}">
      Sitcom Sleepers™ were spawned from the <a href="https://binauralbeatbank.com">Binaural Beat Bank</a> and are created and curated by Ray Cardillo of Cardillo's Creations, LLC.
    </blockquote>
  </div>
</section>